@import "config"; // partial should always begin with _ but skip _ refering to them
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background; // @include when it is a minin
  background: $primary-color;
  // no need for @include when it is a function
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem; // 1 rem is 16 px (default in html)
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rbga(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: none;
  z-index: 2; // forground, the bigger number the closer to you
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  // height: 100%; // of the content
  min-height: calc(100vh - 60px); // sticky footer - height minus footer

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }
  &#home {
    overflow: hidden; // always not have scroll bars
    h1 {
      margin-top: 20vh; // viewport height
    }
  }
}

.about-info {
  display: grid;
  // spacing bwteen the grid
  gap: 30px;
  // visual representation - define the grid area
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    border-radius: 50%;
    border: solid 1px $secondary-color;
  }

  .bio {
    grid-area: bio;
    font-size: 1rem;
  }

  .job-1 {
    grid-area: job1;
  }

  .job-2 {
    grid-area: job2;
  }

  .job-3 {
    grid-area: job3;
  }

  .job {
    background: lighten($primary-color, 5);
    padding: 0.5rem;
    border-bottom: $secondary-color 5px solid;
  }
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// project.html
.projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, 1fr);

  img {
    width: 100%;
    border: 3px #fff solid;

    &:hover {
      opacity: 0.8;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// button styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;

  &:hover {
    background: $secondary-color;
    color: (set-text-color($secondary-color));
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}

.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

@import "mobile";
